.button {
  color: black;
  background: gold;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  margin: 20px;
}

.button:disabled {
  opacity: 0.4;
}
