.container {
  width: 100%;
  margin: 50px 0;
  padding: 30px;
}
.table {
  width: 100%;
  border: 1px solid black;
}
.pagination {
  margin: 0 auto;
  width: fit-content;
}
.search {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid pink;
  margin: 20px;
  outline: none;
}
.remove {
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 0);
  width: 25px;
  height: 25px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  border: 2px solid black;
  margin: 20px;
}
